<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-toolbar>
      <ion-buttons start>
        <button ion-button color="royal" disabled>Edit</button>
      </ion-buttons>
      <ion-title>To Do Lists</ion-title>
      <ion-buttons end>
        <button ion-button icon-only color="royal" (click)="addListItem()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <div *ngIf="lists.length > 0">
      <ion-item *ngFor="let listItem of lists" (click)="openList(listItem)" [style.backgroundColor]="listItem.bgColor">
        {{ listItem.name }}
        <ion-icon name="ios-arrow-forward" item-end></ion-icon>
      </ion-item>
    </div>
    <ion-item *ngIf="lists.length === 0">No lists exists, please click + to add a list</ion-item>
  </ion-list>
</ion-content>
